/** @format */

.transition-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: nome;
  transition: background-color 0.3s ease;
}

.transition-button:hover {
  background-color: #2980b9;
  transform: scale(1.1);
}
