/** @format */

div {
  padding: 50px;
  margin: 20px;
  color: white;
  font-size: 20px;
  font-family: arial, sans-serif;
  text-align: center;
  border-radius: 10px;
}

.linear-gradiente {
  background-image: linear-gradient(to right, #ff7e5f, #feb47b);
}

.radial-gradiente {
  background-image: radial-gradient(circle, #84fab0, #8fd3f4);
}
