/** @format */

body {
  font-family: "Segoe UI", Arial, sans-serifS;
  margin: 20px;
  background-color: #f4f4f4;
}

h1,
h2,
h3 {
  color: #333;
  padding-bottom: 10px;
}

.text-shandow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 18px;
}

.text-glow {
  color: white;
  text-shadow: 0px 0px 8px rgba(255, 255, 0, 0.8);
  font-size: 18px;
}

.clipping-mask {
  background-color: url("https://exemplo.com/background.jpg") no-repeat;
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 20px;
}
