input[type="password"] {
  border: 2px solid red;
}

p[title]:hover {
  background-color: yellowgreen;
}

ul li:first-child {
  font-weight: bold;
}

ul li:last-child {
  color: blue;
}

div.texto::after {
  content: " adicionado via CSS";
  color: purple;
}

.texto span::before {
  content: "Texto";
  color: orange;
}
